@import 'libs/fonts';
@import 'libs/bootstrap.min';


@import 'base/variables';
@import 'blocks/titles';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/description';
@import 'blocks/reviews';
@import 'blocks/video';
@import 'blocks/clients';
@import 'blocks/footer';
@import 'blocks/buttons';


@import 'media/media-buttons';
@import 'media/media-titles';
@import 'media/media-header';
@import 'media/media-promo';
@import 'media/media-description';
@import 'media/media-reviews';
@import 'media/media-video';
@import 'media/media-clients';
@import 'media/media-footer';


/* 
    Специальный класс для очистки от 
    вездесущих отрицательных границ и отступов бутстрапа. 

    Без него, контейнер и колонки добавляют отступы,
    а строки их нейтрализуют отрицательными границами.

    С этим приходится бороться, 
    обнуляя эти отступы и границы специальными правилами CSS.

    Чтобы не засорять файлы стилей постоянными обнулениями,
    мы зададим этот класс для всех строк, 
    которые не предполагают работы с границами и отступами.
*/
.row.slim {
    margin-left: 0;
    margin-right: 0;
}

.row.slim > [class^="col-"], .slim > [class*=" col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}