@import 'libs/fonts';
@import 'libs/bootstrap.min';

// Блоки для главной страницы
@import 'base/variables';
@import 'blocks/titles';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/description';
@import 'blocks/reviews';
@import 'blocks/video';
@import 'blocks/clients';
@import 'blocks/footer';
@import 'blocks/buttons';

// Блоки для остальных страниц
@import 'blocks/sponsors';
@import 'blocks/exhibitors';
@import 'blocks/speakers';
@import 'blocks/media';
@import 'blocks/contacts';
@import 'blocks/registration';
@import 'blocks/modal';

// Адаптация главной страницы
@import 'media/media-buttons';
@import 'media/media-titles';
@import 'media/media-header';
@import 'media/media-promo';
@import 'media/media-description';
@import 'media/media-reviews';
@import 'media/media-video';
@import 'media/media-clients';
@import 'media/media-footer';

// Адаптаниця остнальных страниц
@import 'media/media-sponsors';
@import 'media/media-exhibitors';
@import 'media/media-speakers';
@import 'media/media-media';
@import 'media/media-contacts';
@import 'media/media-registration';
@import 'media/media-modal';


// Класс для очистки границ и отступов Bootstrap
.row.slim {
    margin-left: 0;
    margin-right: 0;
}
.row.slim > [class^="col-"], .slim > [class*=" col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

// Класс для показа выпадающего меню
.active_dropdown {
    transition: 0.7s;
    opacity: 1;
    visibility: visible;
}