.btn {
    &_large {
        width: 153px;
        height: 38px;
        background-color: #e8d8b6;
        font-size: 12px;
        font-weight: 400;
        color: $text-color;
        border: none;
        transition: 0.5s;
        text-transform: uppercase;
        &:hover {
            background-color: $main-color;
            color: #fff;
        }
    }
   
    &_small {
        width: 120px;
        height: 38px;
        background-color: #d4c198;
        font-size: 13px;
        font-weight: 400;
        color: #ffffff;
        transition: 0.5s;
        border: none;
        &:hover {
            background-color: $main-color;
            color: $text-color;
        }
    }
    &_form {
        width: 111px;
        height: 42px;
        background-color: $main-color;
        font-size: 13px;
        line-height: 24px;
        font-weight: 400;
        color: #ffffff;
        transition: 0.5s;
        border: none;
        &:hover {
            background-color: #d4c198;
            color: $text-color;
        }
        &_modal {
            width: 129px;
        }
        &_center {
            display: block;
            margin: 0 auto;
        }
    }
    
}
.black {
    background-color: #323232;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
}