@media (max-width: 991px) {
    .btn {
        &_large {
            height: 30px;
        }
        &_small {
            height: 25px;
        }
    }
}

@media (max-width: 767px) {
    .btn {
        &_large {
            width: 140px;
        }
        &_form {
            height: 35px;
            &_modal {
                width: 120px;
            }
        }
    }
}

@media (max-width: 575px) {
    .btn {
        &_large {
            width: 85px;
            height: 24px;
            font-size: 8px;
        }
        &_form {
            height: 30px;
            &_modal {
                width: 100px;
            }
        }
    }
}